* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Montserrat";
    /* color: black; */
    text-decoration: none;
}
.headerMan {

}
.headerMan .dangeon-section {
    display: flex;
    font-weight: 700;
    font-size: 18px;
    /* justify-content: start; */
}

.headerMan ul {
    display: flex;
    margin: 0 13.7% 0 18.8%;
}
.headerMan ul li {
    font-size: 14px;
    font-weight: 500;
    margin: 0 12px;
}
.headerMan .container {
    /* text-align: center; */
    justify-content: center;
    /* text-align: right; Это свойство может быть удалено, так как оно не влияет на расположение изображений */
    width: 90%;
    display: flex;
    margin: 28px;
}
.headerMan .container img {
    /* display: flex;
    justify-content: flex-end; */
    /* text-align: right; */
}
.headerMan p {
    text-transform: uppercase;
    /* margin: ; */
}
.popaolya {
    margin-right: 5px;
    font-style: italic;
}


.gachiman .container {
    color: #FFFFFFB2;
    background-color: #1E1823;
    height: 344px;
    width: 100%;
    font-size: 14px;
    /* df */
}

.gachiman .container .thag {
    font-weight: 600;
    color: white;
}
.gachiman .container ul {
    display: flex;
}
.gachiman .container ul li {
    margin: 50px 35px;

}
.gachiman article {
    border-right: 1px solid white;
    /* border-right: 10px; */
}