* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Montserrat";
}
.headerMan {

}
.headerMan .dangeon-section {
    display: flex;
    font-weight: 700;
    font-size: 18px;
    /* justify-content: start; */
}

.headerMan ul {
    display: flex;
    margin: 0 13.7% 0 18.8%;
}
.headerMan ul li {
    margin: 0 12px;
}
.headerMan .container {
    /* text-align: center; */
    justify-content: center;
    /* text-align: right; Это свойство может быть удалено, так как оно не влияет на расположение изображений */
    width: 90%;
    display: flex;
    margin: 28px;
}
.headerMan .container img {
    /* display: flex;
    justify-content: flex-end; */
    /* text-align: right; */
}
.popaolya {
    font-style: italic;
}